<container class="@Class">
  <div class="moduleWindow">
    <div class="backButton">
      <Button onclick="@onClose">Voltar</Button>
    </div>
    <div class="moduleHeaderBlock">
      <img class="moduleHeaderImage" src='@("assets/png/"+@ModuleHeader+"-open.png")' alt="Header Image">
      <h1 class="moduleHeaderText">@ModuleHeader</h1>
    </div>
    <div class="moduleDescription">
      <h3 class="moduleDescriptionHeader">@ModuleHeaderDescription</h3>
      @if (@ModuleHeader == "CRP")
      {
        <p>
          CRP é a abreviação do termo em inglês Capacity Requirements Planning (Planejamento da Capacidade de Produção),
          que
          consiste basicamente no processo realizado por uma organização para quantificar tudo aquilo que a mesma deve
          produzir e determinar se ela possui potencial para alcançar tais metas de produção.
        </p>
        <p> O CRP nada mais é do que uma ferramenta de gestão baseada na utilização eficiente dos recursos de uma empresa,
          projetando suas expectativas de produção de forma precisa. Se uma empresa percebe que sua capacidade produtiva
          não
          se adequa à realidade, através do CRP é possível determinar quais tipos de ações deverão ser tomadas afim de que
          suas metas de produção sejam atingidas, ou até mesmo reveja tais metas para que as mesmas estejam alinhadas à
          sua
          capacidade real de produção.
        </p>
        <h3 class="moduleDescriptionHeader">Por que o CRP é importante?</h3>
        <p>
          Uma parte fundamental do sucesso de uma organização está na sua capacidade de planejar o futuro. Sem que haja um
          planejamento sólido, a empresa corre o risco de enfrentar diversos tipos de riscos que pode afetar até mesmo a
          base de toda sua estratégia.
        </p>
        <p>
          O planejamento da capacidade produtiva possui uma série de implicações que vão desde descobrir se a empresa está
          apta a lidar com as oscilações de mercado, no que diz respeito às altas e baixas da demanda, até ajudar a
          decidir o quanto a empresa deve investir em contratações, matéria-prima e maquinário.
        </p>
        <p>
          Discrepâncias entre as estimativas de produção e o que é entregue efetivamente, podem significar carência de
          recursos, tanto materiais quanto de mão de obra, que podem levar a grandes atrasos na entrega ou excesso de
          itens em estoque que por sua vez podem sofrer depreciação e comprometer todo o inventário da organização.
        </p>
        <h3 class="moduleDescriptionHeader">Como podemos ajudar?</h3>
        <p> A Devlean possui uma solução completa que auxiliará a sua empresa a planejar e gerir toda sua capacidade
          produtiva de forma simplificada e automatizada. Nossa meta é garantir que sua empresa tenha uma ferramenta
          robusta que ajude a sua organização a entender melhor a sua própria capacidade produtiva para que assim seja
          possível alcançar seus objetivos buscando a fortificação de sua marca e a satisfação dos seus clientes. Entre em
          contato conosco e teremos prazer em ajuda-lo(a).
        </p>
      }
      else if (@ModuleHeader == "MRP")
      {
        <p>
          O MRP (Material Requirements Planning) é um software que realiza cálculos utilizados para controlar as
          quantidades de todos os componentes necessários para fazer os produtos de uma manufatura.
        </p>
        <p> Ele calcula os estoques e define momentos em que é necessário comprar cada item de um produto, com base nas
          suas
          necessidades e estrutura da fábrica. Seu objetivo é manter a estrutura funcionando sem excessos ou falta de
          material.

          Portanto, esse software ajuda a desenvolver métodos e rotinas que atuam no planejamento de uso e compra de cada
          material, programando também sua produção.
        </p>
        <h3 class="moduleDescriptionHeader">Como o MRP realiza os cálculos?</h3>
        <p>
          Para começar, ele reúne cada informação levantada para criar uma rotina de compra e produção, ou seja, evitando
          qualquer excesso ou escassez nos recursos. Além disso, para conseguir calcular com mais eficiência, o MRP
          utiliza três informações básicas em seus cálculos: a demanda, a lista de materiais necessário e o saldo atual
          dos estoques.
        </p>
        <p>
          No caso da demanda, são calculadas as quantidades de produtos vendidos e as previsões de vendas para um
          determinado período; já no caso das listas de materiais, devem conter informações de todos os materiais
          necessários para a produção de um produto final. Por fim, o saldo de estoques, que leva em consideração a
          quantidade em estoque do produto final e de cada material em estoque para produzi-lo.
        </p>
        <p>
          Discrepâncias entre as estimativas de produção e o que é entregue efetivamente, podem significar carência de
          recursos, tanto materiais quanto de mão de obra, que podem levar a grandes atrasos na entrega ou excesso de
          itens em estoque que por sua vez podem sofrer depreciação e comprometer todo o inventário da organização.
        </p>
        <h3 class="moduleDescriptionHeader">Como podemos ajudar?</h3>
        <p> Assim, com todas essas informações reunidas, o MRP realiza seu cálculo, indicando as ordens de produção e de
          compra da matéria-prima - sempre de acordo, é claro, com as previsões de venda de determinado produto. E, por
          fim, o sistema é responsável por estipular uma espécie de estoque de segurança, para diminuir as possibilidades
          de perda, e de pontos de reposição de cada material, evitando também os excessos.
        </p>
        <h3 class="moduleDescriptionHeader">Quais são seus benefícios para a indústria?</h3>
        <div>
          <h3>*Reduzir tempo de processamento de dados</h3>
          <h3>*Torna o planejamento mais certeiro</h3>
          <h3>*Diminui os gastos desnecessários</h3>
          <h3>*Aumenta a confiança nas decisões</h3>
          <h3>*Deixa a produção mais estratégica</h3>
        </div>
        <h3 class="moduleDescriptionHeader">O uso da Inteligência Artificial no cálculo gerado pelo MRP</h3>
        <p>
          A evolução do sistema MRP deve passar também pelo uso da Inteligência Artificial para ajudar o sistema no
          cálculo das necessidades de materiais, e no sequenciamento ótimo das ordens de produção.
        </p>
        <p>
          A grande vantagem é que os sistemas cognitivos aprendem com o comportamento da carteira de pedidos, com a gestão
          das Ordens de Compras e Produção, com os eventos internos e externos que impactam na demanda, com o
          comportamento de compra dos clientes, com o comportamento das entregas pelos fornecedores, enfim, o robô aprende
          e melhora as suas decisões de forma automática e sistemática.
        </p>
        <p>
          O fato é que a entrada da Inteligência Artificial deve ocorrer gradualmente em todos os setores empresariais,
          especialmente no chão de fábrica, tanto no processo de planejamento, quanto na execução em si.
        </p>
        <h3 class="moduleDescriptionHeader">Como podemos ajudar?</h3>
        <p>
          Diferente da robótica atualmente empregada nas indústrias, que são sistemas produtivos que são previamente
          programado para fazer uma tarefa fixa, os robôs cognitivos são adaptáveis dinamicamente no tempo e eles aprendem
          formas de fazer melhor a mesma coisa. Com isso as mudanças de linhas serão bastante naturais e terão um custo
          drasticamente menor do que os atuais.
        </p>
        <p>
          A evolução das técnicas de planejamento produtivo passarão pelo uso da inteligência cognitiva embutidas dentro
          dos Sistemas ERPs e os níveis de impacto que isso causará no chão de fábrica será ainda mais imprevisível.
        </p>
      }
      else if (@ModuleHeader == "MES")
      {
        <p>
          Focado no gerenciamento de atividades relacionados ao chão de fábrica, estabelece processos de controles fabris,
          buscando gerar informações precisas em tempo real, otimizando todas as etapas do chão de fábrica proporcionando
          assim, redução de desperdício, aumento da acurácia dos de estoques, controle de qualidade e fornece dados
          essenciais para a cadeia de suprimentos.
        </p>
        <h3 class="moduleDescriptionHeader">O que é o sistema MES?</h3>
        <p>
          MES (Manufacturing Execution Systems), é o termo utilizado para designar sistemas concentrados no gerenciamento
          das atividades de chão de fábrica que estabelecem uma ligação direta entre o planejamento e a produção. Os
          sistemas MES geram informações precisas e em tempo real que fornecem a otimização de todas as etapas da
          produção, desde a emissão de um plano produtivo até a finalização do mesmo. A importância destes sistemas vem da
          ruptura que normalmente existe entre o MRP (Manufacturing Resource Planning) e os softwares específicos da linha
          de produção. O MES pode importar dados do MRP e integrá-los com o dia-a-dia do chão de fábrica, gerenciando
          tarefas produtivas com o fluxo de materiais. Levando em consideração que as empresas buscam cada vez mais a
          redução de custos, faz todo sentido investir em sistemas que otimizem o fluxo de processos, controle e qualidade
          dos materiais.
        </p>
        <h3 class="moduleDescriptionHeader">Quais são seus benefícios para a indústria?</h3>
        <div>
          <h3>*Redução de custos</h3>
          <h3>*Redução de resíduos</h3>
          <h3>*Aumento de eficiência na gestão do estoque e inventário</h3>
          <h3>*Acompanhamento mais efetivo do chão de fábrica</h3>
          <h3>*Deixa a produção mais estratégica</h3>
        </div>
        <h3 class="moduleDescriptionHeader">Como podemos ajudar?</h3>
        <p>
          A Devlean possui uma solução completa que auxiliará a sua empresa gerir toda sua produção em tempo real, de
          forma simplificada e automatizada. Nossa meta é garantir que sua empresa tenha uma ferramenta robusta que ajude
          a sua organização evoluir para um modelo de gestão 4.0, para que assim seja possível alcançar seus objetivos
          buscando a fortificação de sua marca, crescendo exponencialmente no mercado. Entre em contato conosco e teremos
          prazer em ajuda-lo(a).
        </p>
      }
    </div>
  </div>
</container>

@code {
  [Parameter]
  public bool ShowComponent { get; set; }

  [Parameter]
  public string ModuleHeader { get; set; }

  [Parameter]
  public string ModuleHeaderDescription { get; set; }

  public string Class => ShowComponent ? "moduleBackground" : "hidden";

  [Parameter]
  public EventCallback onClose { get; set; }
}
